html, body {
    background: rgb(143, 226, 116);
    height: 98.3%;
}

h1 {
    color: rgb(99, 148, 0);
    text-align: center;
    font-size: 2.8em;
    font-family: monospace;
    user-select: none;
}

p {
    color: rgb(99, 148, 0);
    text-align: center;
    font-size: 1.8em;
    font-family: monospace;
    user-select: none;
}